<!DOCTYPE html>
<html>

<link href="StyleSheet.css" rel="stylesheet">

<body>

    <div class="container">

        <div class="handycamtitle">
            <h1>HandyCam</h1>
        </div>


        <div class="square">

            <button class="createroom-button" onclick="createRoom(this)">Create a Room</button>

            <button class="joinroom-button" onclick="joinRoom(this)">Join a Room</button>

            <button class = "test-button" onclick="testQuiz(this)"> Test out HandyCam </button>

            <script>
                function createRoom(button) {
                    // Generate Unique roomcode
                    const roomCode = Math.random().toString(36).substring(2, 8).toUpperCase();

                    // Redirect to the new room
                    window.location.href = `ProjectWebsite.html?code=${roomCode}`;

                    // alert the user that of their roomcode
                    alert("Your roomcode is " + roomCode + ". Please share it for others to join.")
                    
                    // Ensures it looks the same when clicked
                    button.classList.add('clicked');
                }
                
                function joinRoom(button) {
                    
                    // Prompt the user for the room code
                    const roomCode = prompt("Enter the room code:");
                    
                    // If the roomCode exists
                    if(roomCode){
                    // Open a new window to join the room
                    window.open(`ProjectWebsite.html?code=${roomCode}`);
                    }
                    else{
                    // Otherwise tell the user to enter a valid roomcode
                    alert("Please enter a valid room code.");
                    }
                    
                    // Ensures it looks the same when clicked
                    button.classList.add('clicked');

                }

                function testQuiz(button){
                    window.location.href = "Quizpage01.html";
                }

            </script>


        </div>

    </div>

    <script>

        let popup = document.getElementById("popup");

        function openPopup() {
            popup.classList.add("open-popup");
        }

        function closePopup() {
            popup.classList.remove("open-popup");
            window.location.href = "quiz.html";
        }

    </script>

</body>

</html>