<!DOCTYPE html>
<html>

<link rel="stylesheet" href="PWStyle.css">

<title>Handy Cam Project</title>

<body>
  
  <div class="HeadTitle">
    <div class = navbar>
      <i class="fa fa-american-sign-language-interpreting"></i>
      <h1>HandyCam</h1>
    </div>
  </div>

  <div class="container">
      <div class="row">
          <div class="col-lg-8  offset-lg-2">
              <h3 class="mt-5">Live Streaming</h3>
              <img src="{{ url_for('video_feed') }}" width="50%">
          </div>
      </div>
  </div>

    
  <div class="chat-popup" id="myForm">
    <form action="/action_page.php" class="form-container">
      <h2>Chat</h2>

      <label for="msg" id="msgtext"><b>Message</b></label>
      <textarea placeholder="Type message.." name="msg"></textarea>

      <button type="submit" class="btn">Send</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
  </div>

  <script>
      function openForm() {
          document.getElementById("myForm").style.display = "block";
      }

      function closeForm() {
          document.getElementById("myForm").style.display = "none";
      }
  </script>

  <div class="buttons">
    <button class="camera-button"><i class="fa fa-video-camera"></i> Camera</button>
    <button class="share-button" id="share-btn"><i class="fa fa-share-square-o"></i> Share</button>
    <script src="https://cdn.webrtc-experiment.com/RecordRTC.js"></script>
    <script>
      var recorder;

      document.getElementById('share-btn').onclick = function() {
        navigator.mediaDevices.getDisplayMedia({video: true, audio: true}).then(function(stream) {
          recorder = RecordRTC(stream, {
            type: 'video'
          });
          recorder.startRecording();
        });
      };
    </script>
    
    <button class="open-button" onclick="openForm()"><i class="fa fa-comments"></i> Chat</button>
    <button class="record-button"><i class="fa fa-file-video-o"></i> Record</button>
    <button class="end-button" onclick="window.close()">End Call</button>
  </div>

  <video id="video-element" autoplay></video>
    <script>
      var recorder;
      var videoElement = document.getElementById('video-element'); 
      document.getElementById('share-btn').onclick = function() {
        navigator.mediaDevices.getDisplayMedia({video: true, audio: true}).then(function(stream) {
          recorder = RecordRTC(stream, {
            type: 'video'
          });
          recorder.startRecording();
          
          videoElement.srcObject = stream;
        });
      };
    </script>

</body>


</html>
