<!DOCTYPE html>
<html>

<link href="StyleSheet.css" rel="stylesheet">

<body>

    <div class="container">

        <div class="handycamtitle">
            <h1>HandyCam ASL Quiz</h1>
        </div>


        <div class="square">

            <form id="quiz-form" class="quiz_form">

                <label for="Fullname" id="name"> Please enter your name: </label>

                <input type="text" id="Fullname">

                <div class="wrapper">
                    <div class="checkbox_item citem_3">
                        <label class="checkbox_wrap">
                            <input type="checkbox" name="checkbox" class="checkbox_inp">
                            <span class="checkbox_mark"></span>
                        </label>
                    </div>
                </div>

                <button type="submit" class="quiz-button" onclick="openPopup()"> Start the Quiz </button>
                <script>const form = document.getElementById('quiz-form');
                    const submitButton = document.querySelector('.quiz-button');

                    submitButton.addEventListener('click', (event) => {
                        event.preventDefault();
                        const nameInput = document.getElementById('Fullname');
                        const name = nameInput.value;
                        sessionStorage.setItem('name', name);
                    });
                </script>

                <div class="popup" id="popup">

                    <h2> Here are some rules for the quiz: </h2>

                    <p> 1. The quiz will be based on the hand motion of your entry. <br>
                        2. You will be quizzed on all the alphabet. <br>
                        3. Each question will be worth 10 points. <br>
                        4. Once you get 80% or above recognition, you will receive the points
                    </p>

                    <button type="button" onclick="closePopup()">OK</button>

                </div>

            </form>

        </div>

    </div>

    <script>

        let popup = document.getElementById("popup");

        function openPopup() {
            popup.classList.add("open-popup");
        }

        function closePopup() {
            popup.classList.remove("open-popup");
            window.location.href = "quiz.html";
        }

    </script>

</body>

</html>