<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
  <link rel="stylesheet" href="score-page.css">
  <title>Final-Score</title>
</head>

<body>
  <div class="wrapper">
    <div class="border">
      <i class="fa fa-trophy trophy_icon" style="margin: 10px 0px 0px 130px; color: goldenrod;"></i>
      <h1 class="username"><span class="name" style="font-size: 50px; color: white;"></span><br>Well Done!</h1>
      <p class="userpoints">Your Score <span class="points" style="color: goldenrod"></span></p>
    </div>
  </div>

  <script src="user_info.js"></script>

</body>

</html>